.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;

  &-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    // ★ 사이즈가 가변하는 이미지를 동일한 크기로 맞추기 : 반응형 CSS 종횡비
    // height를 width 기준으로 맞추기 위해 padding-bottom을 이용

    img {
      @include pos-center;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      // ★ 종횡비 맞추기 위해 width, height, object-fit 설정
      //단, block 요소는 height가 (부모) 0의 100%가 되므로 position 이용
    }
  }

  &-detail {
    @include flexbox(start);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // ★ absolute 시 자신이 가진 컨텐트 크기만큼 다이어트하므로
    height: 54px;
    padding: 0 16px;
    background-color: rgba($black, 0.4);

    .avatar-32,
    .order {
      flex-shrink: 0;
      // ★ username과 order를 양 사이드에 배치하기 위해
    }

    .avatar-32 {
      margin-right: 8px;

      &:active {
        opacity: 0.4;
      }
    }

    .username,
    .order {
      @include text-style(16, $white);
    }

    .username {
      @include truncate;
      flex-grow: 1;
      // ★ username과 order를 양 사이드에 배치하기 위해
      padding-right: 8px;
      font-weight: 700;

      &:active {
        color: $blue;
      }
    }
  }

  @include responsive(D) {
    &-detail {
      .avatar-32:hover {
        opacity: 0.4;
      }

      .username:hover {
        color: $blue;
      }
    }
  }
}
