//components - modules처럼 작진 않지만 layouts보다는 작은
.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox(start);
  }

  &-item {
    margin-right: 24px - ($padding * 2);

    &.is-active,
    &:hover {
      a {
        color: $blue;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      @include text-style(18, $primary);
      display: block;
      padding: $padding; //사용성 개선을 위해 영역 확장
      font-weight: 700;
    }
  }
}
