.product-recommendation {
  //★ .product-list를 통해 .product-item을 정렬할 것이므로
  // .product-item 의 width값을 정해주고, .product-card는 정해진 width값을 따라가도록 한다
  .product-list {
    @include flexbox(between, start);
    flex-wrap: wrap;
  }

  .product-item {
    width: calc(50% - 10px); //(100% - 20px) / 2

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 20px;
    }

    a {
      display: block;
      // ★ inline 요소이므로 width, height를 가질 수 없다.
      // 그래서 개발자도구로 보면 auto, auto로 되어있음을 볼 수 있다. 클릭하는 데 문제는 없지만 display를 block으로

      &:active {
        img {
          transform: scale(1.1);
        }

        .product-card-title {
          opacity: 0.5;
        }
      }
    }
  }

  @include responsive(T) {
    .product-item {
      width: calc(33.333% - 11px); // (100% - 32px) / 3
      margin-bottom: 0 !important;
      //★ &:nth-child(1), &:nth-child(2)는 가상 클래스가 하나 더 붙은 셈이므로 그냥 margin-bottom 지정 시 적용 안 됨

      &:last-child {
        display: none;
      }
    }
  }

  @include responsive(D) {
    .product-item a:hover {
      img {
        transform: scale(1.1);
      }

      .product-card-title {
        opacity: 0.5;
      }
    }
  }
}
