.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  overflow-x: auto;
  //★ 시안대로 전체 너비 기준으로 스크롤 하려면 overflow 기준점으로 .lnb-list가 아닌 .lnb가 적절

  //height: 40px;
  // ★ height 미지정 시 자신이 가진 컨텐트의 높이만큼을 가짐
  // -> border 를 주면 41px이 되므로 height를 40px로 명시했다.
  // 그러면 이제 border 포함 40px이므로 lnb의 컨텐츠 높이는 39px을 갖게 되고
  // lnb 안에 있는 a는 40px이므로 border 2px 중 1px이 가려진다
  // (그래서 아래로 스크롤 되는 것)
  //overflow-y: visible;
  // 넘쳐나는 1px을 visible로 설정하여 a의 border가 lnb의 border를 덮어보이게 만든다
  // ★ 그러나 overflow auto 속성 사용 시 다른 overflow 값도 auto 설정이 되므로 사용 불가
  //  => lnb가 아닌 다른 요소에 height와 border를 주는 수밖에 없다
  //border-bottom: 1px solid $border;

  @include no-scrollbar;
  background-color: $white;

  &-list {
    //@include flexbox(start);
    //★ block의 성질
    //width값 미지정 시 부모요소의 컨텐트 박스의 width를 자동으로 가짐

    //width: max-content;
    // ★ overflow 되는 기준 너비보다 넓은 요소 만들기
    // 방법 1 : max-content; 단점은 호환성
    // %는 '부모' 요소의 컨텐트 박스 길이 기준으로 함
    // ★ max-content와 min-content는 자신이 가진 '자손'의 사이즈가 특정값으로 고정되지 않았을 때 의미있게 사용 가능

    //방법 2
    @include inline-flexbox(start);
    // inline-block의 성질
    // width값 미지정 시 자신이 가진 컨텐트 기준으로 사이즈를 가짐
    white-space: nowrap;
    // inline 요소야 한 줄을 유지해라

    //position: relative;
    //left: -8px;
    margin-left: -#{$grid-margin};
    padding: 0 #{$grid-margin - $lnb-link-padding};

    height: 40px;
    border-bottom: 1px solid $border; //overflow-x, y 모두 visible
  }

  &-item {
    //flex-shrink: 0; 방법 2 사용 시 필요 X

    &.is-active {
      a {
        color: $blue;
        //border-bottom: 2px solid $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include inline-flexbox;
      //inline-block의 성격을 갖도록
      //width 지정 안 하면 기본적으로 자신이 가진 컨텐츠의 width를 가짐
      @include text-style(13, $dark);
      height: $lnb-height-sm;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
      //보더로 인해 글자 세로 정렬이 살짝 어긋나서 맞춰주기 위해

      &:hover {
        color: $blue;
      }
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;

    &-list {
      height: auto;
      padding: 0;
      margin-left: 0;
      border-bottom: 0;
    }

    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}
